* {
	margin: 0;
	padding: 0;
	font-family: verdana;
}


@media screen and (min-width: 930px)
{

body		  	
	{		 
			background-color: white;
	}

nav
	{
		margin-top: 5px;
		margin-left: 35px;
	}
	
#pageHeader
	{
		margin-left: 20px;
	}
	
p img
	{
			float: right;
			height: 204px;
			width: 266px;			
			position: static;
			clear: both;
			/*border: 2px solid pink;*/
			
			
			
	}
	
#article2Pic
	{
		height: 236;
		width: 300;
		margin-top: -20px;
		margin-right: -22px;
	}

video
	{
			width:480px;
			height:320px;
			margin-left: 20px;
			
	}
article   
	{
		height: 400px;
		background-color: #006600;	
		border: 5px solid #003399;
	}

section
	{
		border: 5px solid red ;
		margin-top: 40px;
		margin-left: 20px;
		width: 67%;
		
	}
	
p 
	{
		margin-top: 0px;		
		background-color: rgba(255,255,255,0.5);
		
		
	}
.articleFooter
	{
		margin-top: 340px;
		margin-left: 45%;
		background-color: rgba(0,51,153,0.5);
		text-align: center;
		width: 10%;
		font-size: 15px;
		font-style: italic;
	}
.articleFooter a
	{
		color: #e6de00;
	}
	

#copyFooter
	{
		
		
		background-color: black;
		clear: both;
		text-align: center;
		color: white;
	}

	
	
	
	
