* {
	margin: 0;
	padding: 0;
	font-family: verdana;
}


@media screen and (min-width: 930px)
{

body {		 
	background-color: white;
	}

#NavBar {
	margin-top: 5px;
	margin-left: 35px;
	}
	
#pageHeader {
	margin-left: 20px;
	margin-top: 5px;
	}
	
video {
	width:auto;
	height:auto;
}

#headerImg {
	width: auto;
	
}

.flexSection {
	display: flex;
	margin: 20px;
	flex-flow: row wrap;
}

.videoSection {
	border: 5px solid blue;
	order: 1;
	
}


.articleSection {
	
	border: 5px solid yellow;
	order: 2;
	width: 67%;
	
	
}


.articleSection article {
	border: 5px outset black;
	height: 400px;
}

.articleSection header, p {
	width: 50%;
	border: 5px solid green;
	
}

	
.indexImage img {
	height: 300px;
	width: 470px;
}
	
.indexImage {
	float: right;
	margin-right: 10px;
	margin-top: -50px;
	max-width: 120%;
    height: auto;
	
}	

.copyrightFooter {
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	background-color: black;
	color: white;
}
