* {
	margin: 0;
	padding: 0;
	font-family: verdana;
}


@media screen and (min-width: 930px)
{

body {
	background-color: white;
	}

#NavBar {
	margin-top: 5px;
	margin-left: 35px;
	}

#pageHeader {
	margin-left: 20px;
	margin-top: 5px;
	}

video {
	width:auto;
	height:auto;
}

#headerImg {
	width: auto;

}

.flexSection {
	display: flex;
	margin: 20px;
	flex-flow: row wrap;
}

.videoSection {
	/* border: 5px solid blue; */
	order: 1;
	width: 100%;

}


.articleSection {

	border: 5px solid black;
	background-color: #090;
	order: 2;
	width: 67%;
	margin-top: 20px;
	height: 1100px;


}


.articleSection article {
	/* border: 5px outset black; */
	height: 360px;
}

.articleSection article header, p {
	width: 60%;
	margin-left: 10px;
	border-style: none solid none none;
	border-color: black;
	color: #FFCB47;
	/* border: 5px solid green; */

}

.articleSection article p {
	height: 350px;
}

#article1 {
	border-style: none none solid none;
}

#article2 {
	border-style: none none solid none;
}


.indexImage img {
	height: 300px;
	width: 470px;
	max-width: 100%;
}

.indexImage {
	float: right;
	margin-right: 10px;
	margin-top: -350px;
	max-width: 120%;
  height: auto;

}

.copyrightFooter {
	text-align: left;
	font-weight: bold;
	background-color: black;
	color: white;
	margin: 0;
}

.indexImage a:hover {
	color: #D4872F;
}

.indexImage a {
	color: #FFCB47;
}

.indexImage figcaption {
	font-weight: bold;
	font-style: normal;
}

.asideSection {
	order: 3;
	margin-left: 40px;
	margin-top:20px;
	border: 5px solid black;
	height: 50%;
	width: 33%;
	background-color: #090;
	color: #FFCB47;
}

.asideSection h3 {
	color: #D4872F;
	padding: 5px;
	text-align: center;
	font-size: 25px;
}

.asideSection #olAside {
	padding-left: 25px;
	float: right;
	padding: 5px;



}

.asideSection #olAside li{
	font-size: 20px;

}

.cookieSection {
	margin-bottom: 0px;
	background-color: yellow;
}
